/* ---------------------------------------------
   Fonts
--------------------------------------------- */

@font-face {
  font-family: 'Montreal-Medium';
  src: url('/fonts/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: 500 !important ;
  font-style: normal;
}

@font-face {
  font-family: 'Montreal-Regular';
  src: url('/fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: 400 !important;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montreal-Medium', sans-serif;
  font-weight: 500;
}

label {
  font-family: "Montreal-Medium", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Montreal-Regular", sans-serif;
}

a {
  font-family: "Montreal-Medium", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}